.chat-messages {
    flex: 1;
    padding: 10px;
    background: #fff;
    overflow-y: auto;
  }
  
  .message-item {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  background-color: rgb(190, 248, 248);

  }
  
  .message-timestamp {
    font-size: 02em;
    color: #666;
  }
  