:root {
  --background-color-light: #f2e7e7;
  --text-color-light: #000000;
  --background-color-dark: #181818;
  --text-color-dark: #5b06f8;
  --header-background-color-light: #f1f1f1;
  --header-background-color-dark: #202020;
  --chat-header-background-color-light: #f9f9f9;
  --chat-header-background-color-dark: #2a2a2a;
  --border-color-light: #ccc;
  --border-color-dark: #333;
}

.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --header-background-color: var(--header-background-color-light);
  --chat-header-background-color: var(--chat-header-background-color-light);
  --border-color: var(--border-color-light);
}

.dark-mode {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --header-background-color: var(--header-background-color-dark);
  --chat-header-background-color: var(--chat-header-background-color-dark);
  --border-color: var(--border-color-dark);
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden; /* Prevent scrolling of body */
}

.header {
  padding: 10px;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden; /* Prevent scrolling of body */
}

.chat-list {
  width: 100%; /* Take full width on mobile */
  max-width: 300px; /* Limit width on larger screens */
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.chat-item:hover {
  background-color: var(--header-background-color);
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
}

.chat-header {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;

  
}

.message-item {
  margin-bottom: 10px;
}

.message-timestamp {
  font-size: 0.8em;
  color: var(--border-color);
}

@media (min-width: 768px) {
  .content {
    overflow: initial; /* Allow scrolling on larger screens */
  }

  .chat-list {
    max-width: 300px; /* Maintain width limit on larger screens */
  }
}
